@font-face {
    font-family: "Norse-Bold";
    src: url('assets/Norse-Bold.otf');
}


* {
    box-sizing: border-box;
}


body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}



#pageContainer{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

}

#leftSide, #rightSide {
    display: flex;
    height: 100%;
    flex-direction: column;
}

#topText{
    width: 100%;
    height: calc(1rem + 34%);
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
    padding-left: 44px;
}

#accountForm {
    /* position: relative; */
    width: 100%;
    height: calc(1rem + 65%);
    flex-direction: column;
    background-color: whitesmoke
}

form {
    width: 100%;
    height: 100%;
}
#sectOne {
    height: calc(1rem + 36%);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 6px 11px 10px rgb(209, 209, 209);
    margin-bottom: 20px;
    padding-left: 35px;
}

#f1, #f2 {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    justify-content: space-evenly;
    /* align-items: stretch; */
    margin-left: 0;
    border: none;

}

#f1 {
    width: 35%;
    margin-right: 0;

}

#f2 {
    width: 65%;
}



#sectTwo {
    /* border: 1px solid black; */
    height: 57%; /* Ensures remaining height is used */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    margin-left: 45px;
    margin-top: 40px;
    background-color: whitesmoke;


}

#leftSide {
    width: 40%;
    background-image: url('assets/fern-background.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

#foot {
    color: rgb(255, 255, 255, .7);
}

#rightSide {
    width: 60%;

}

#logoCon {
    margin-top: 185px;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#odin {
    height: 95%;
    filter: saturate(1.75);
    opacity: 1;
}

#odinLabel {
    font-family: 'Norse-Bold';
    font-size: 5rem;
    color: #eee;
}

input {
    outline: none;
    border-radius: 5px;
    height: 2rem;
    width: 16rem;
    /* border-color: #ffffff; */
    border: 1px solid #ccc;
}

legend {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(0,0,0,.78);
    margin-bottom: 0px;
    background-color: white;
    box-shadow: 6px 14px 10px rgb(209, 209, 209);
    padding-top: 10px;
    padding-left: 46px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Verdana, Helvetica,  'Trebuchet MS';



}

button {
    height: 3rem;
    width: 15rem;
    border-radius: 8px;
    margin-left: 0;
    background-color: #596D48;
    color: rgb(255, 255, 255, 1);
    font-size: 1.2rem;
    filter: saturate(1.5);
}

#sectTwo p {
    font-size: 1.2rem;
}

#sectTwo span {
    font-weight: bold;
}



input:focus {
    outline: none;
    border-color: #7253e2;
    box-shadow: 2px 2px 2px rgba(209, 209, 209, 1);
}

input.touched:invalid {
    outline: none;
    border-color: #ff0000;
    box-shadow: 2px 2px 2px rgba(209, 209, 209, 1);
}

label {
    font-family: 'Lucida Sans Unicode', Tahoma, Arial, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

button:hover {
    cursor: pointer;
}

#sectOne label {
    color: rgb(0, 0, 0, .65);

}

#topText span {
    font-style: italic;
}

#sectTwo span:hover {
    cursor: pointer;
}